.lesson-list-container{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.lesson-list-button{
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 275px;
    background-color: #383838;
    padding: 5px;
    margin-top: 1rem;
    margin-right: 3rem;
    border-radius: 4px;
    line-height: 31px;
}

.lesson-list-button:hover{
    cursor: pointer;
    background-color: rgb(168, 164, 164);
}
.lesson-list-button-image{
    height: 20px;
    justify-self: center;
}

.lesson-list-button-text{
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: 1rem;
}

.lesson-list-element-list{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0.5rem;
    overflow-y: scroll;
    padding: 1rem;
}